<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 my-5">

      <h1 class="text-center">Relatórios</h1>

      <h2>Filtro</h2>    
      <input class="form-control" id="myInput" onkeyup="myFunction()" type="text" placeholder="Search..">
      <br>
      
      <div>
        <table class="table table-hover table-light my-3" id="myTable">
          <thead class="thead-dark">
            <tr>
              <th>Cliente</th>
              <th>Nome</th>
              <th>Início</th>
              <th>Tempo</th>
              <th>Investimento</th>
              <th>Vizualizações</th>
              <th>Cliques</th>
              <th>Compartilhamento</th>
            </tr>
          </thead>
          <% anunciosFinal.forEach( anuncio => {%>
          <tbody>
              <tr>
                <td><%= anuncio.cliente %></td>
                <td><%= anuncio.nome %></td>
                <td><%= anuncio.data %></td>
                <td><%= anuncio.intervalo %> Dias</td>
                <td class="text-center"><%= anuncio.totalInvestido %>,00 R$</td>
                <td class="text-center"><%= anuncio.visualizacoes %></td>
                <td class="text-center"><%= anuncio.cliques %></td>
                <td class="text-center"><%= anuncio.compartilhamentos %></td>
              </tr>
          </tbody>
   
          <% }); %>  
        </table>

      </div>

    </div>
    <div class="col-lg-1"></div>
  </div>
</div>
<script src="../../frontend/main.js"></script>
  <%- include('includes/footer')%>